%shared-prop{
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  font-size: 14px;
  width: 1200px;
}

input{
  @extend %shared-prop;
}

select{
  @extend %shared-prop;
}
textarea {
  @extend %shared-prop;
}

.radio, .keahlian{
       border: 1px solid #CCCCCC;
      padding: 5px;
      margin: 10px 0px 10px 0px;
      font-size: 14px;
      width: 50px;
}

input[type="submit"] {
    width: 80px;
    cursor: pointer;
    background-color: blue;
}

.clear {
  clear: both;
}


article {
  background:#636e72;
  float: left;
  height: 100%;
  width: 584px;
  text-align: center;
}

.kalkulator{
	width: 300px;
	margin: 30px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
}
 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
}
 

.judul{
	text-align: center;
	color: #eee;
	font-weight: 800;
}

footer {
  background:black;
  width: 784px;
  height: 100px;
  padding-top: 40px;
  text-align: center;
  color : blue
}
