.wrap {
  background: blue;
  width: 784px;
  margin: 10px auto;
  font-family: sans-serif;
}

header {
  background-image: url('gambar/img2.jpg');
  /*height: 50px;*/

  width: 784px;
  height: 200px;
  text-align: center;
}

.N1{
	background: yellow;
}

.N1 ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}

.N1 ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.clear {
  clear: both;
}

.container {
  height: 450px;
}

aside {
  background: #2d3436;
  float: left;
  width: 200px;
  height: 100%;
  text-align: center;
}

article {
  background:#636e72;
  float: left;
  height: 100%;
  width: 584px;
  text-align: center;
}



.kalkulator{
	width: 300px;
	margin: 30px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
}
 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	background: #EC5159;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;
}
 
.judul{
	text-align: center;
	color: #eee;
	font-weight: 800;
}

footer {
  background:black;
  width: 784px;
  height: 100px;
  padding-top: 40px;
  text-align: center;
  color : blue
}
