$var: 100;

.content{
    margin-left: $var/ 3* 10px;
}

footer{
    margin-top: $var*2px;
    margin-left: (1px + 2px) * $var;
    position: relative;
    height: auto;
    padding: 1px 0;
    background-color: salmon;
    text-align: center;

    p{
        text-align: center;
    }
}